@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1220px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

p {
  color: #444444;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */
.button {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2em;
}

.yellow-button {
  position: relative;
  text-align: center;
  z-index: 0;
}

.yellow-button::before {
  content: "";
  position: absolute;
  background-color: #FFE17F;
  height: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.yellow-button:hover:before {
  height: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.yellow-button:focus {
  outline: none;
}

.yellow-button:focus:before {
  background-color: #AF4FFF;
}

.yellow-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.yellow-button:active:before {
  background-color: #FFE17F;
  height: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Заголовки блоков */
.section-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

/* Общий контейнер */
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-container {
  z-index: 1;
}

/* Списки */
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Шапка сайта */
.page-header {
  background: linear-gradient(to bottom, #FFFFFF 40px, #FFE17F 0);
  width: 1160px;
  margin: 0 auto;
  border-width: 0 30px;
  border-style: solid;
  border-color: #FFFFFF;
  z-index: 2;
}

/* Навигация */
.navigation {
  margin: 0 auto;
  padding: 12px 40px 30px 40px;
}

.navigation-inner-page {
  padding-bottom: 38px;
}

.navigation-container {
  display: flex;
}

.navigation-container:first-child {
  margin-bottom: 20px;
  padding-left: 20px;
}

.navigation-container:nth-child(2) {
  margin-bottom: 20px;
}

/* Состояния элементов навигации */
.navigation-status:hover {
  opacity: 0.6;
}

.navigation-status:focus {
  opacity: 1;
  border-color: #AF4FFF;
  outline: none;
}

.navigation-status:active {
  opacity: 0.3;
  border-color: transparent;
}

/* Логотип */
.logo-link {
  height: 36px;
  padding: 5px;
  transform: translate(-4px);
}

.logo-link:focus {
  margin-bottom: 0;
  padding: 3px;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  outline: none;
}

.logo-link:active {
  border-color: transparent;
}

/* Поиск по сайту */
.search-form {
  position: relative;
  width: 500px;
  display: flex;
  margin-left: 4px;
}

.search-icon {
  position: absolute;
  top: 13px;
  left: 16px;
  margin: auto;
}

.search {
  width: 500px;
  height: 40px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  background: none;
  opacity: 0.3;
  flex-grow: 1;
  position: relative;
  padding: 10px 160px 10px 52px;
  border: 2px solid transparent;
  border-radius: 20px;
  margin: 0;
}

.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search:focus {
  color: rgba(0, 0, 0, 0.3);
}

.search:active {
  opacity: 1;
  border: 2px solid #000000;
}

.search-button {
  position: absolute;
  height: 40px;
  right: 0;
  top: 0;
  margin: auto;
  box-sizing: border-box;
  width: 160px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.search:focus + .search-button,
.search:active + .search-button {
  display: block;
}

.search-button:hover {
  display: block;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 0 20px 20px 0;
}

.search-button:focus {
  display: block;
  border: 2px solid #AF4FFF;
  border-radius: 0 20px 20px 0;
  outline: none;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 0 20px 20px 0;
  border: none;
}

/* Пользовательское меню */
.navigation-user, .navigation-services {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  margin-left: auto;
}

.navigation-user-item {
  position: relative;
}

.navigation-user-item:first-child {
  margin-right: auto;
  display: flex;
}

.navigation-user-item:first-child .navigation-user-link {
  padding-left: 18px;
  padding-right: 5px;
}

.navigation-user-link {
  display: block;
  padding: 9px 16px;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px;
}

.navigation-user-link:nth-child(2) {
  padding: 9px 0;
}

.login {
  padding-left: 25px;
  background: url("../img/person.svg") no-repeat left;
}

.logout {
  opacity: 0.3;
}

.compare {
  padding-left: 21px;
  padding-right: 5px;
  background: url("../img/compare.svg") no-repeat left;
}

/* Корзина */
.cart {
  padding-left: 40px;
  padding-right: 2px;
  background: url("../img/basket.svg") no-repeat 14px 1px;
  position: relative;
}

.cart::before {
  content: "2";
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
}

/* Попап корзины */
.popup {
  display: none;
}

.cart-link:hover + .popup,
.popup:hover, .popup:focus-within {
  display: block;
}

.popup-content {
  min-height: 100%;
  transform: translate(60px, 14px);
  color: #FFFFFF;
  background-color: #000000;
  border-bottom: 10px solid #EBEBEB;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  padding: 14px 20px 21px 20px;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 3;
}

.popup-content::before {
  content: "";
  background: transparent url("../img/arrows/thin-triangle.svg") no-repeat center;
  transform: translate(-3px, -20px);
  display: block;
  height: 6px;
  width: 280px;
}

.popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 40px;
  background-color: transparent;
}

.popup-close-button:hover {
  background-color: rgba(255, 225, 127, 0.3);
}

.popup-close-button:focus {
  background-color: transparent;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  outline: none;
}

.popup-close-button:active {
  background-color: rgba(255, 225, 127, 0.6);
  border: none;
}

/* Список товаров в корзине */
.cart-item {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 41px;
  position: relative;
}

.cart-item::after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: 320px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.cart-item:last-child {
  margin-bottom: 20px;
}

.cart-item-link {
  display: flex;
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: none;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:focus {
  opacity: 1;
  outline: none;
}

.cart-item-link:focus .cart-item-icon {
  outline: 5px solid #AF4FFF;
}

.cart-item-link:focus .cart-item-title {
  color: #AF4FFF;
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-item-link:active .cart-item-icon {
  outline: none;
}

.cart-item-link:active .cart-item-title {
  color: #FFFFFF;
}

.cart-item-title {
  color: inherit;
  padding-left: 23px;
  padding-right: 18px;
  align-self: center;
}

.cart-item-icon {
  display: block;
  align-self: flex-start;
  min-width: 41px;
  min-height: 43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 41px 43px;
}

.monopod-1 {
  background-image: url("../img/catalog/device-1.jpg");
}

.monopod-2 {
  background-image: url("../img/catalog/device-2.jpg");
}

.cart-item-button {
  transform: translate(7px);
  width: 25px;
  height: 25px;
  align-self: flex-start;
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.delete-item {
  display: block;
  margin: auto;
  transform: translate(-1px);
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-button:focus {
  opacity: 1;
  outline: none;
  border-color: #AF4FFF;
}

.cart-item-button:active {
  opacity: 0.3;
  border-color: transparent;
}

/* Сумма товаров в корзине */
.cart-items-total {
  width: 280px;
  transform: translate(-20px);
  background-color: #1A1A1A;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-items-total p {
  color: inherit;
}

/* Кнопка "Открыть корзину" */
.cart-open-link {
  width: 247px;
  margin-top: 20px;
  padding: 15px 15px 14px 18px;
  text-align: center;
  background-color: #FFFFFF;
}

.cart-open-link:hover {
  background-color: #FFE17F;
}

.cart-open-link:focus {
  outline: 5px solid #AF4FFF;
  background-color: #FFFFFF;
}

.cart-open-link:active {
  outline: none;
  background-color: #FFE17F;
  color: rgba(0, 0, 0, 0.3);
}

/* Вложенное меню каталога */
.navigation-container:last-child {
  position: relative;
}

.navigation-catalog-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.catalog-button {
  position: relative;
  padding: 0 48px 0 0;
  margin-left: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.catalog-button:focus {
  outline: none;
}

.catalog-button:focus > .navigation-catalog-button {
  border-color: #AF4FFF;
}

.catalog-button:active > .navigation-catalog-button {
  color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
  margin: 0;
}

.catalog-button::after {
  content: "";
  background: url("../img/plus.svg") no-repeat center;
  width: 46px;
  height: 46px;
  border: 2px solid #000000;
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.catalog-button:hover:after,
.navigation-catalog-container:focus-within .catalog-button:after {
  background: url("../img/minus.svg") no-repeat center;
  opacity: 1;
}

.catalog-button:active:after {
  background: url("../img/minus.svg") no-repeat center;
  opacity: 0.3;
}

.navigation-catalog {
  background-color: #FFE17F;
  display: none;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, min-content);
  column-gap: 16px;
  row-gap: 8px;
  position: absolute;
  top: 50px;
  left: -40px;
  right: -40px;
  margin: auto;
  padding-bottom: 50px;
  padding-left: 45px;
  padding-top: 30px;
  z-index: 2;
}

.navigation-catalog:hover,
.catalog-button:hover + .navigation-catalog,
.navigation-catalog-container:focus-within .navigation-catalog {
  display: grid;
}

.navigation-catalog-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 3px 13px;
  border: 2px solid transparent;
  border-radius: 20px;
}

.monopod-link, .camera-link {
  grid-column: 1 / 2;
}

.bracelet-link, .watch-link {
  grid-column: 2 / 3;
}

.quadcopter-link {
  grid-column: 3 / 4;
}

.bracelet-link, .quadcopter-link {
  grid-row: 1 / 2;
}

.monopod-link, .watch-link {
  grid-row: 2 / 3;
}

/* Навигация по услугам */
.navigation-item:nth-child(3n) {
  margin-left: auto;
}

.navigation-item:nth-child(3n-2) {
  margin-left: 5px;
}

.navigation-link, .navigation-catalog-button {
  display: block;
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 12px 13px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.2em;
}

.navigation-catalog-button {
  padding: 12px 16px;
  margin: 0 2px;
}

.navigation-link:hover {
  opacity: 1;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link::after {
  content: "";
  left: 13px;
  right: 16px;
  background-color: #000000;
  position: absolute;
  bottom: 5px;
}

.navigation-link:hover:after,
.navigation-link:active:after {
  height: 2px;
}

/* Хлебные крошки */
.inner-header {
  margin-top: 38px;
  margin-bottom: 44px;
}

.catalog-title {
  margin-bottom: 18px;
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;
  margin-left: 60px;
  transform: translate(-5px);
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 5px;
  margin-right: 24px;
}

.breadcrumbs-icon {
  display: block;
  fill: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: 5px solid #AF4FFF;
  margin-right: 29px;
  margin-left: 5px;
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  margin-right: 24px;
  margin-left: 0;
}

/* Слайдер */
.device-examples {
  margin-bottom: 37px;
  position: relative;
}

/* Стрелки вправо-влево */
.device-navigation-arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  width: 560px;
  justify-content: space-between;
  z-index: 2;
  margin-bottom: 62px;
}

.slider-prev, .slider-next {
  background: url("../img/arrows/tall-arrow.svg") no-repeat center;
  width: 40px;
  height: 80px;
  border: none;
  margin: auto 9px auto;
  cursor: pointer;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-prev:hover, .slider-next:hover {
  opacity: 0.6;
}

.slider-prev:focus, .slider-next:focus {
  border: 2px solid #AF4FFF;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

.slider-prev:active, .slider-next:active {
  opacity: 0.3;
  border: none;
}

/* Кнопки-буллеты */
.device-navigation-radio {
  position: absolute;
  bottom: 150px;
  right: 60px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  margin-bottom: 55px;
}

.device-button, .device-button-current {
  background: none;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin: 11px;
  padding: 0;
  cursor: pointer;
}

.device-button-current {
  background-color: #000000;
}

.device-button-current:focus {
  outline: none;
}

.device-button:hover {
  opacity: 0.6;
}

.device-button:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.device-button:active {
  opacity: 0.3;
}

/* Содержимое слайдера */
.slider-item {
  display: none;
  justify-content: space-between;
  background: linear-gradient(to bottom, #FFE17F 122px, #FFFFFF 0);
}

.slider-item-current {
  display: flex;
}

.slider-container {
  width: 560px;
}

.slider-container:first-child {
  transform: translateY(-28px);
}

.slider-text {
  transform: translateY(11px);
}

.device-number {
  font-weight: 800;
  color: #FFFFFF;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  margin-top: 53px;
  padding-right: 50px;
}

.device-motto {
  margin-bottom: 28px;
}

.device-description {
  line-height: 30px;
  margin-bottom: 35px;
}

.device-table {
  margin-top: 47px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
}

.device-table-key {
  color: #444444;
  font-size: 16px;
  grid-row: 2 / 3;
}

.device-table-value {
  font-size: 36px;
  grid-row: 1 / 2;
  margin: 0;
  padding-bottom: 10px;
}

.device-details {
  width: 190px;
  padding: 15px 15px;
}

/* Меню каталога с иконками */
.catalog {
  margin-bottom: 81px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 40px;
}

.catalog-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  display: block;
  width: 160px;
  letter-spacing: -0.02em;
}

.catalog-icon-container {
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #FFE17F;
  display: flex;
}

.catalog-icon {
  fill: #363636;
  margin: auto;
}

.monopod-icon {
  margin-bottom: 0;
}

.catalog-link:hover .catalog-icon-container {
  background-color: #FFC700;
}

.catalog-link:focus {
  outline: none;
  color: #AF4FFF;
}

.catalog-link:focus .catalog-icon-container {
  outline: 5px solid #AF4FFF;
}

.catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-link:active .catalog-icon-container {
  background-color: #FFC700;
  outline: none;
}

.catalog-link:active .catalog-icon-container svg {
  fill: rgba(54, 54, 54, 0.3);
}

/* Услуги */
.services {
  background: linear-gradient(to bottom, #FFFFFF 100px, #F0F0F0 0);
  margin-bottom: 90px;
}

.tabs-container {
  display: flex;
}

.navigation-tabs:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 277px;
  margin-right: 123px;
  margin-bottom: 47px;
  position: relative;
}

.navigation-tabs:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 22px;
  left: 277px;
  width: 0;
  border-right: 7px solid #000000;
}

.navigation-tabs-link,
.navigation-tabs-link-current {
  padding: 15px 15px;
  width: 130px;
  text-align: center;
  position: relative;
  margin-bottom: 13px;
  z-index: 0;
}

.navigation-tabs-link::before,
.navigation-tabs-link-current::before {
  content: "";
  position: absolute;
  background-color: #FFC700;
  height: 8px;
  top: 22px;
  right: 0;
  left: 0;
  z-index: -1;
}

.navigation-tabs-link:hover:before {
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.navigation-tabs-link:focus,
.navigation-tabs-link-current:focus {
  outline: none;
}

.navigation-tabs-link:focus:before {
  background-color: #AF4FFF;
}

.navigation-tabs-link:active,
.navigation-tabs-link-current {
  color: #FFE17F;
}

.navigation-tabs-link:active:before,
.navigation-tabs-link-current::before {
  background-color: #000000;
  height: 40px;
  width: 277px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.tabs-item {
  margin-bottom: 145px;
  width: 695px;
  min-height: 150px;
  display: none;
}

.current-tab {
  display: block;
}

.tab-delivery {
  background: url("../img/services/delivery.svg") no-repeat bottom -5px right;
}

.tab-guarantee {
  background: url("../img/services/guarantee.svg") no-repeat bottom -5px right;
}

.tab-credit {
  background: url("../img/services/credit.svg") no-repeat bottom -5px right;
}

.tab-title {
  display: block;
  width: 600px;
  margin-top: 71px;
  margin-bottom: 33px;
}

.tab-text {
  line-height: 30px;
  display: block;
  width: 500px;
}

/* Доставка редких товаров */
.special-delivery-link {
  display: grid;
  grid-template-columns: 125px auto 120px;
  margin-bottom: 97px;
  color: inherit;
  text-decoration: none;
  padding: 0;
}

.special-delivery-container {
  width: 125px;
  height: 100%;
  background: #FFE17F;
  display: flex;
}

.special-delivery-icon {
  fill: #000000;
  display: block;
  margin: auto;
}

.special-delivery-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  display: block;
  background-color: #F0F0F0;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 38px 0;
  grid-column: 2 / 3;
}

.info-container {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-delivery-info {
  background: #DCDCDC url("../img/info.svg") no-repeat center;
  opacity: 0.3;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.special-delivery-link:hover .special-delivery-container,
.special-delivery-link:active .special-delivery-container {
  background-color: #FFC700;
}

.special-delivery-link:hover .special-delivery-info {
  opacity: 1;
}

.special-delivery-link:focus {
  outline: 5px solid #AF4FFF;
}

.special-delivery-link:active {
  outline: none;
}

.special-delivery-link:active .special-delivery-text {
  color: rgba(0, 0, 0, 0.3);
}

.special-delivery-link:active .special-delivery-container svg {
  opacity: 0.3;
}

/* Контакты */
.contacts {
  display: flex;
  color: #444444;
  justify-content: space-between;
  margin-bottom: 86px;
}

.contacts-block:first-child {
  width: 500px;
}

.contacts-block:last-child {
  width: 560px;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  position: relative;
}

.contacts-block::before {
  position: absolute;
  content: "";
  top: 0;
  background-color: #000000;
  width: 80px;
  height: 7px;
}

.contacts-content {
  margin-bottom: auto;
}

.contacts-title {
  margin-bottom: 45px;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 16px;
}

.contacts-text {
  line-height: 30px;
  margin-bottom: 30px;
}

.contacts-address {
  font-style: normal;
}

.contacts-address .contacts-text {
  margin-bottom: 33px;
}

.phone {
  text-decoration-line: underline;
  color: inherit;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-weight: 700;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0;
  color: #000000;

}

.about-us-bullet {
  color: #FFC700;
}

.about-us-item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
}

.about-us-item::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.about-us-button {
  align-self: flex-start;
  margin-top: 20px;
  width: 260px;
  position: relative;
}

.contacts-button {
  align-self: flex-start;
  margin-top: 36px;
  width: 260px;
  position: relative;
}

/* Рассылка */
.mailing {
  background-color: #F0F0F0;
}

.mailing-container {
  padding-top: 76px;
  padding-bottom: 131px;
  display: grid;
  grid-template-columns: 560px 320px 200px;
  gap: 59px 40px;
}

.mailing-text {
  grid-column: 2 / 4;
  line-height: 30px;
  align-self: end;
}

.mailing-form {
  grid-column: 1 / 3;
  display: flex;
}

.subscription-input {
  box-sizing: border-box;
  width: 600px;
  height: 55px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
  background: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0 0 0 3px;
  align-self: end;
}

.subscription-input:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.subscription-input:focus {
  border-color: #DCDCDC;
  background: #DCDCDC;
  outline: none;
}

.subscription-input:active {
  border-color: #000000;
  color: rgba(68, 68, 68, 1);
}

.subscription-error, .subscription-error:hover,
.subscription-error:focus, .subscription-error:active {
  border-color: #FF3D3D;
  background: none;
  color: rgba(68, 68, 68, 1);
}

.subscription-button {
  background: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 14px 38px;
  cursor: pointer;
}

.subscription-button:hover {
  border: 3px solid #000000;
  background-color: #000000;
}

.subscription-button:hover .subscribe {
  color: #FFFFFF;
}

.subscription-button:focus {
  outline: none;
  border: 3px solid #AF4FFF;
}

.subscription-button:active {
  border: 3px solid #000000;
  background-color: #000000;
}

.subscription-button:active .subscribe {
  color: rgba(255, 255, 255, 0.3);
}

.free {
  color: #444444;
  justify-self: end;
  align-self: center;
  padding-left: 35px;
  padding-right: 2px;
  background: url("../img/success.svg") no-repeat left;
}

/* Блок фильтров */
.background-titles {
  background: linear-gradient(to left, #F0F0F0 67.5%, #DCDCDC 0);
}

.background-content {
  background: linear-gradient(to left, #FFFFFF 67.5%, #F0F0F0 0);
}

.inner-container {
  display: flex;
}

.filters-title, .sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.filters-title {
  display: block;
  padding: 0 20px;
  width: 200px;
  align-self: center;
  margin: 15px 50px 15px 40px;
  letter-spacing: 0.2em;
}

.filters-block {
  padding-left: 20px;
  width: 200px;
  padding-right: 20px;
  margin: 84px 50px 0 40px;
}

.filters-group {
  padding: 0;
  border: none;
  margin: 0 0 36px;
  font-size: 16px;
}

.filters-group:last-of-type {
  margin: 0 0 30px;
}

.filters-group-title {
  padding: 0;
  margin-bottom: 29px;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.filters-group-title::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: -14px;
  left: -1px;
}

.color-item, .bluetooth-item {
  margin-bottom: 21px;
}

/* Шкала стоимости */
.range {
  margin-top: 8px;
  margin-bottom: 45px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  top: -8px;
  min-width: 18px;
  min-height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min, .range-from {
  left: 0;
}

.range-from {
  transform: translate(-20%);
}

.toggle-max, .range-to {
  right: 0;
}

.range-to {
  transform: translate(35%);
}

.range-input {
  padding: 0;
  font: inherit;
  text-align: center;
  background-color: transparent;
  color: inherit;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:focus {
  outline: none;
}

.range-toggle-label {
  position: absolute;
  top: 17px;
  color: rgba(0, 0, 0, 0.3);
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.range-toggle:focus {
  border-color: #AF4FFF;
  outline: none;
}

.range-toggle:focus + .range-toggle-label {
  color: rgba(175, 79, 255, 0.3);
}

.range-toggle:active {
  border-color: #000000;
  background: #000000;
}

.range-toggle:active + .range-toggle-label {
  color: rgba(0, 0, 0, 1);
}

/* Чекбокс */
.control {
  position: relative;
  display: block;
  padding-left: 33px;
  cursor: pointer;
}

.color-label::before {
  content: "";
  top: -1px;
  left: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.color-input[type="checkbox"]:checked ~ .color-label::before {
  border-color: rgba(0, 0, 0, 1);
}

.checkbox-icon {
  display: none;
  position: absolute;
  top: -1px;
  left: 0;
  width: 10px;
  height: 10px;
  padding: 5px;
}

.color-input[type="checkbox"] {
  width: 0;
  margin: 0;
  padding: 0;
}

.color-input[type="checkbox"]:checked ~ .checkbox-icon {
  display: block;
}

.color-input[type="checkbox"]:hover:checked ~ .checkbox-icon::before {
  border-color: rgba(0, 0, 0, 0.5);
}

.color-input[type="checkbox"]:hover:checked ~ .color-label {
  color: rgba(0, 0, 0, 0.5);
}

.color-input[type="checkbox"]:focus ~ .checkbox-icon {
  fill: #AF4FFF;
}

.color-input[type="checkbox"]:focus ~ .color-label {
  color: #AF4FFF;
}

.color-input[type="checkbox"]:focus ~ .color-label::before {
  border-color: #AF4FFF;
}

.color-input[type="checkbox"]:active ~ .checkbox-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.color-input[type="checkbox"]:active ~ .color-label {
  color: rgba(0, 0, 0, 0.2);
}

.color-input[type="checkbox"]:active ~ .color-label::before {
  border-color: rgba(0, 0, 0, 0.2);
}

/* Радио-кнопки */
.control-mark {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: -1px;
  left: 0;
}

.bluetooth-input[type="radio"]:checked ~ .control-mark {
  border-color: rgba(0, 0, 0, 1);
}

.control-mark::after {
  content: "";
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  top: 4px;
  left: 4px;
}

.bluetooth-input[type="radio"]:checked ~ .control-mark::after {
  display: block;
}

.bluetooth-input[type="radio"] {
  width: 0;
  margin: 0;
  padding: 0;
}

.bluetooth-input[type="radio"]:hover:checked ~ .control-mark {
  border-color: rgba(0, 0, 0, 0.5);
}

.bluetooth-input[type="radio"]:hover:checked ~ .control-mark::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.bluetooth-input[type="radio"]:hover:checked ~ .bluetooth-label {
  color: rgba(0, 0, 0, 0.5);
}

.bluetooth-input[type="radio"]:focus ~ .control-mark {
  border-color: #AF4FFF;
}

.bluetooth-input[type="radio"]:focus ~ .control-mark::after {
  background-color: #AF4FFF;
}

.bluetooth-input[type="radio"]:focus ~ .bluetooth-label {
  color: #AF4FFF;
}

.bluetooth-input[type="radio"]:active ~ .control-mark {
  border-color: rgba(0, 0, 0, 0.2);
}

.bluetooth-input[type="radio"]:active ~ .control-mark::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.bluetooth-input[type="radio"]:active ~ .bluetooth-label {
  color: rgba(0, 0, 0, 0.2);
}

/* Кнопка "Показать" */
.filters-button {
  position: relative;
  width: 200px;
  text-align: center;
  z-index: 1;
}

.filters-button::before {
  content: "";
  position: absolute;
  background-color: #FFC700;
  width: 200px;
  height: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.filters-button:focus:before {
  background-color: #AF4FFF;
  height: 8px;
}

.filters-button:active:before {
  background-color: #FFC700;
}

/* Сортировка */
.catalog-products {
  width: 760px;
  margin-left: 70px;
}

.sorting-block {
  width: 760px;
  display: flex;
  align-items: center;
  margin: 20px 0 20px 70px;
}

.sorting-title {
  margin-right: 35px;
  align-self: center;
  letter-spacing: 0.2em;
}

.sorting-form {
  margin-right: auto;
  display: flex;
}

.select-control {
  display: block;
  box-sizing: border-box;
  background: url("../img/arrows/dropdown.svg") no-repeat top 50% right 15px;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding: 5px 40px 5px 15px;
  margin: 0;
  appearance: none;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  opacity: 1;
  outline: 5px solid #AF4FFF;
}

.select-control:active {
  opacity: 0.3;
  outline: none;
}

.sorting-buttons {
  display: flex;
  transform: translate(7px);
}

.sorting-type-button {
  width: 11px;
  height: 10px;
  padding: 7px;
  background: url("../img/arrows/triangle.svg") no-repeat center;
  opacity: 0.2;
}

.sorting-type-button:last-child {
  transform: rotate(180deg);
  margin-left: 5px;
}

.sorting-type-button:hover {
  opacity: 0.5;
}

.sorting-type-button:focus {
  opacity: 1;
  outline: 5px solid #AF4FFF;
}

.sorting-type-button:active {
  opacity: 1;
  outline: none;
}

.sorting-type-button-current,
.sorting-type-button-current:hover {
  opacity: 1;
}

/* Список товаров */
.devices-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 46px 40px;
  margin-top: 70px;
  margin-bottom: 45px;
}

/* Карточка товара */
.device-card {
  position: relative;
}

.device-card-link {
  display: grid;
  grid-template-columns: 260px 90px;
  grid-template-rows: 380px min-content;
  gap: 32px 10px;
  color: inherit;
  text-decoration: none;
}

.device-card-title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.new {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  margin-right: 27px;
  margin-top: 27px;
  width: 56px;
  height: 56px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background: url("../img/new.svg") no-repeat center;
}

.device-card-price {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  justify-self: end;
  line-height: 21px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  transform: translateY(3px);
}

.device-card-image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: block;
}

/* Кнопка "Подробнее" на карточке товара */
.grey-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.8);
  width: 360px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.device-card-button {
  position: relative;
  padding: 10px 20px;
}

.device-card-button::before {
  content: "";
  position: absolute;
  background-color: #FFC700;
  height: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.device-card-link:hover + .grey-layer,
.grey-layer:hover {
  z-index: 2;
}

.device-card-button:hover:before,
.filters-button:hover:before {
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.device-card-button:focus,
.filters-button:focus {
  outline: none;
}

.device-card-link:focus,
.device-card-link:focus .device-card-price {
  outline: none;
  color: #AF4FFF;
}

.device-card-link:focus .device-card-image {
  border: 5px solid #AF4FFF;
  box-sizing: border-box;
}

.device-card-button:active,
.filters-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Кнопка "Показать еще" */
.show-more-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  width: 760px;
  background: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  margin-bottom: 52px;
  box-sizing: border-box;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.show-more-button:hover {
  border-color: #000000;
}

.show-more-button:focus {
  border: 5px solid #AF4FFF;
  padding: 18px 0;
  outline: none;
}

.show-more-button:active {
  border: 3px solid #000000;
  padding: 20px 0;
  opacity: 0.3;
}

/* Пагинация */
.pagination {
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 78px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.pagination-link {
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  padding: 7px 0;
  display: block;
  width: 33px;
  text-align: center;
}

.pagination-link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:focus {
  color: rgba(68, 68, 68, 1);
  outline: 5px solid #AF4FFF;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
  outline: none;
}

.pagination-prev, .pagination-next {
  padding: 25px 30px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: inherit;
}

.pagination-next {
  text-align: right;
}

.pagination-prev:hover, .pagination-next:hover {
  background-color: #DCDCDC;
}

.pagination-prev:focus, .pagination-next:focus {
  background-color: #EBEBEB;
  border: 5px solid #AF4FFF;
  padding: 20px 25px;
  outline: none;
}

.pagination-prev:active, .pagination-next:active {
  background-color: #DCDCDC;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  padding: 25px 30px;
}

/* Подвал сайта */
.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-container {
  display: grid;
  grid-template-columns: 270px auto 265px;
  grid-template-rows: min-content min-content min-content;
  gap: 0 40px;
  width: 1160px;
  margin: 0 auto;
  padding: 62px 30px 50px;
}

.logo-footer {
  margin-bottom: 20px;
  transform: translate(-2px);
}

.contacts-footer-address {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  position: relative;
  transform: translate(-1px);
}

.contacts-footer-address::after {
  position: absolute;
  bottom: 29px;
  content: "";
  background-color: #FFC500;
  width: 80px;
  height: 7px;
  transform: translate(1px);
}

.footer-phone {
  padding: 5px 0;
}

.contacts-footer-phone {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  justify-self: end;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:focus {
  outline: none;
  border: 2px solid #AF4FFF;
  border-radius: 25px;
  padding: 3px 13px;
  transform: translate(15px);
}

.footer-phone:active {
  transform: none;
  opacity: 0.3;
  padding: 5px 0;
  border: none;
}

.contacts-footer-text {
  display: block;
  font-style: normal;
  color: inherit;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 49px;
}

.navigation-footer-container {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  margin-top: 5px;
}

.navigation-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation-footer:first-child {
  margin-bottom: 43px;
}

.navigation-footer:last-child {
  transform: translate(-3px);
}

.footer-link {
  display: block;
  padding: 14px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
}

.footer-link::after {
  content: "";
  left: 14px;
  right: 17px;
  background-color: #FFC700;
  position: absolute;
  bottom: 7px;
}

.footer-link:hover {
  color: #FFC700;
}

.footer-link:hover:after {
  height: 2px;
}

.footer-link:focus {
  border: 2px solid #AF4FFF;
  border-radius: 25px;
  padding: 13px;
  outline: none;
}

.footer-link:active {
  opacity: 0.3;
  border: none;
  padding: 15px;
}

.footer-link:active:after {
  height: 2px;
}

/* Социальные сети */
.social-media-item {
  margin-right: 4px;
}

.social-media-item:last-child {
  margin-right: 0;
}

.social-media-link {
  margin: 5px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  cursor: pointer;
}

.social-media-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #444444;
}

.social-media-link:hover {
  background-color: #FFC700;
}

.social-media-link:focus {
  background: none;
  outline: none;
  border: 5px solid #AF4FFF;
  margin: 0;
}

.social-media-link:focus .social-media-icon {
  fill: #FFFFFF;
}

.social-media-link:active {
  background-color: #FFC700;
  margin: 5px;
  border: none;
}

.social-media-link:active .social-media-icon {
  opacity: 0.3;
}

.htmlacademy-link {
  grid-column: -2 / -1;
  grid-row: -2 / -1;
  justify-self: end;
  transform: translate(1px);
}

.htmlacademy-icon {
  fill: #FFC700;
  padding: 12px 0;
}

.htmlacademy-link:hover .htmlacademy-icon {
  fill: #FFFFFF;
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:focus .htmlacademy-icon {
  fill: #FFFFFF;
  padding: 10px;
  border: 2px solid #AF4FFF;
  border-radius: 10px;
  transform: translate(12px);
}

.htmlacademy-link:active .htmlacademy-icon {
  fill: #FFFFFF;
  opacity: 0.3;
  padding: 12px 0;
  border: none;
  transform: none;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  border: 10px solid #000000;
  padding: 70px;
  background-color: #FFFFFF;
  color: #000000;
}

.modal::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: -10px;
  width: 920px;
  height: 10px;
  background-color: #EBEBEB;
}

.modal-delivery {
  width: 760px;
}

.modal-title {
  margin-bottom: 66px;
}

.modal-close-button {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 23px;
  right: 8px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-icon {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:hover .modal-close-icon {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: none;
}

.modal-close-button:focus .modal-close-icon {
  opacity: 1;
  border: 5px solid #AF4FFF;
  border-radius: 50%;
}

.modal-close-button:active .modal-close-icon {
  opacity: 0.3;
  border: none;
}

/* Форма записи */
.delivery-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  column-gap: 40px;
  row-gap: 13px;
  font-family: "Rubik", sans-serif;
}

.field-name {
  grid-column:  1 / 2;
}

.field-email {
  grid-column:  2 / -1;
}

.field-description {
  grid-column:  1 / -2;
}

.field-number {
  grid-column:  -2 / -1;
  position: relative;
}

.delivery-form-button {
  margin-right: auto;
}

.delivery-form-label {
  display: block;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
}

.delivery-info-icon {
  position: absolute;
  top: -7px;
  right: 9px;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: #FFE17F;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.delivery-info {
  display: none;
  transform: translate(20px, 6px);
  color: #FFFFFF;
  background-color: #000000;
  border-bottom: 10px solid #EBEBEB;
  font-size: 16px;
  width: 164px;
  position: absolute;
  top: 30px;
  right: 0;
  padding: 19px 18px 23px;
  z-index: 2;
}

.delivery-info::before {
  content: "";
  background: transparent url("../img/arrows/thin-triangle.svg") no-repeat 146px;
  transform: translate(-18px, -25px);
  display: block;
  height: 6px;
  width: 164px;
}

.delivery-info-icon:hover + .delivery-info {
  display: block;
}

.delivery-form-field {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 3px;
  padding: 17px 50px 17px 17px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #F0F0F0;
  border: 3px solid #F0F0F0;
  color: rgba(0, 0, 0, 0.6);
}

.delivery-form-field#delivery-name {
  background-image: url("../img/form-person.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
}

.delivery-form-field#delivery-email {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
}

.delivery-form-field#delivery-number {
  text-align: center;
  padding: 18px 0 16px 0;
  position: relative;
}

.delivery-form-field#delivery-number::-webkit-outer-spin-button,
.delivery-form-field#delivery-number::-webkit-inner-spin-button {
  display: none;
}

.number-button {
  position: absolute;
  height: 32px;
  width: 32px;
  bottom: 18px;
  padding: 6px;
  background: none;
  border: 2px solid transparent;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-minus {
  left: 11px;
}

.number-plus {
  right: 11px;
}

.number-button .number-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.number-button:hover .number-icon {
  fill: rgba(0, 0, 0, 1);
}

.number-button:focus {
  border-color: #AF4FFF;
  outline: none;
}

.number-button:active {
  border-color: transparent;
}

.number-button:active .number-icon {
  fill: rgba(0, 0, 0, 0.1);
}

.number-button:hover ~ .delivery-form-field,
.delivery-form-field:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
}

.delivery-form-field:focus {
  outline: 5px solid #AF4FFF;
}

.delivery-form-field:active {
  outline: none;
  border-color: #000000;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.delivery-form-error,
.delivery-form-error:hover {
  border-color: #FF3D3D;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.delivery-form-error + .delivery-form-span {
  color: #FF3D3D;
}

.delivery-form-span {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.delivery-form-button {
  padding: 0 30px;
  margin-top: 37px;
}

.delivery-form-button:before,
.delivery-form-button:active:before {
  background-color: #FFC700;
}
