@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

p {
  color: #444444;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */
.yellow-button {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/* Заголовки блоков */
.section-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

/* Общий контейнер */
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Списки */
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Шапка сайта */
.page-header {
  background: linear-gradient(to bottom, #FFFFFF 40px, #FFE17F 0);
  width: 1160px;
  margin: 0 auto;
  border-width: 0 30px;
  border-style: solid;
  border-color: #FFFFFF;
}

/* Навигация */
.navigation {
  margin: 0 auto;
  padding: 20px 40px 40px;
}

.navigation-container {
  display: flex;
}

.navigation-container:first-child {
  margin-bottom: 35px;
  padding-left: 20px;
}

.navigation-container:nth-child(2) {
  margin-bottom: 24px;
}

.logo-link {
  height: 36px;
}

.search-form {
  position: relative;
  width: 520px;
  display: flex;
  margin-left: 4px;
}

.search-icon {
  position: absolute;
  top: 0;
  left: 16px;
  bottom: 0;
  margin: auto;
}

.search {
  box-sizing: border-box;
  padding-left: 52px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background: none;
  opacity: 0.3;
  flex-grow: 1;
}

.search-button {
  box-sizing: border-box;
  width: 160px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background: none;
  cursor: pointer;
}

.navigation-link {
  display: block;
  padding: 15px 20px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-button {
  border: none;
  background: none;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
}

.navigation-item:nth-child(3n) {
  margin-left: auto;
}

.navigation-user, .navigation-services {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  margin-left: auto;
}

.navigation-user-item:first-child {
  margin-right: auto;
}

.navigation-user-link {
  display: block;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.login {
  padding-left: 25px;
  background: url("../img/person.svg") no-repeat left;
}

.compare {
  padding-left: 20px;
  background: url("../img/compare.svg") no-repeat left;
}

.basket {
  padding-left: 40px;
  background: url("../img/basket.svg") no-repeat 15px;
  position: relative;
}

.basket::before {
  content: "2";
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
}

.user-name {
  margin-right: 30px;
}

.catalog-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.catalog-button {
  position: relative;
  padding-right: 50px;
}

.catalog-button::after {
  content: "";
  background: url("../img/plus.svg") no-repeat center;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

/* Хлебные крошки */
.inner-header {
  margin-top: 35px;
  margin-bottom: 50px;
}

.catalog-title {
  margin-bottom: 20px;
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;
  margin-left: 60px;
}

.breadcrumbs-item:first-child .breadcrumbs-link{
  padding-left: 0;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
  margin-right: 15px;
  padding: 10px;
}

/* Слайдер */
.device-examples {
  margin-bottom: 50px;
  position: relative;
}

.device-navigation-arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  width: 560px;
  justify-content: space-between;
  z-index: 2;
  margin-bottom: 70px;
}

.slider-prev, .slider-next {
  background: url("../img/arrows/tall-arrow.svg") no-repeat;
  width: 20px;
  height: 60px;
  border: none;
  padding: 19px;
  margin: auto 0 auto;
  cursor: pointer;
}

.slider-prev {
  transform: rotate(180deg);
}

.device-navigation-radio {
  position: absolute;
  bottom: 150px;
  right: 60px;
  margin-right: 30px;
  display: flex;
  z-index: 2;
  margin-bottom: 70px;
}

.device-button {
  background: none;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin: 9px;
  padding: 0;
  cursor: pointer;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #FFE17F 110px, #FFFFFF 0);
}

.slider-container {
  width: 560px;
}

.slider-container:first-child {
  transform: translateY(-40px);
}

.slider-text {
  transform: translateY(10px);
}

.device-number {
  font-weight: 800;
  color: #FFFFFF;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  margin-top: 40px;
  padding-right: 50px;
}

.device-motto {
  margin-bottom: 30px;
}

.device-description {
  line-height: 30px;
  margin-bottom: 35px;
}

.device-table {
  margin-top: 55px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
}

.device-table-key {
  color: #444444;
  font-size: 16px;
  grid-row: 2 / 3;
}

.device-table-value {
  font-size: 36px;
  grid-row: 1 / 2;
  margin: 0;
  padding-bottom: 14px;
}

.device-details {
  width: 190px;
  text-align: center;
  padding: 15px 15px;
  position: relative;
  z-index: 0;
}

.device-details::before {
  content: "";
  position: absolute;
  background-color: #FFE17F;
  height: 8px;
  top: 22px;
  right: 0;
  left: 0;
  z-index: -1;
}

/* Меню каталога с иконками */
.catalog {
  margin-bottom: 70px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 40px;
}

.catalog-link {
  display: block;
  position: relative;
  padding-top: 190px;
  width: 160px;
}

.catalog-link::before {
  content: "";
  position: absolute;
  top: 0;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-vr::before {
  background-image: url("../img/menu/menu-vr.svg");
}

.icon-monopod::before {
  background-image: url("../img/menu/menu-monopod.svg");
  background-position: bottom;
}

.icon-camera::before {
  background-image: url("../img/menu/menu-camera.svg");
}

.icon-bracelet::before {
  background-image: url("../img/menu/menu-bracelet.svg");
}

.icon-watch::before {
  background-image: url("../img/menu/menu-watch.svg");
}

.icon-quadcopter::before {
  background-image: url("../img/menu/menu-quadcopter.svg");
}

/* Услуги */
.services {
  background: linear-gradient(to bottom, #FFFFFF 100px, #F0F0F0 0);
  margin-bottom: 90px;
}

.tabs-container {
  display: flex;
}

.navigation-tabs:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  margin-right: 120px;
  margin-bottom: 70px;
  position: relative;
}

.navigation-tabs:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 280px;
  width: 0;
  border-right: 7px solid #000000;
}

.navigation-tabs-link {
  padding: 15px 15px;
  width: 130px;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  z-index: 0;
}

.navigation-tabs-link::before {
  content: "";
  position: absolute;
  background-color: #FFC700;
  height: 8px;
  top: 22px;
  right: 0;
  left: 0;
  z-index: -1;
}

.tabs-item {
  margin-bottom: 145px;
  width: 710px;
  min-height: 200px;
}

.tab-delivery {
  background: url("../img/services/delivery.svg") no-repeat right;
}

.tab-guarantee {
  background: url("../img/services/guarantee.svg") no-repeat right;
}

.tab-credit {
  background: url("../img/services/credit.svg") no-repeat right;
}

.tab-title {
  display: block;
  width: 600px;
  margin-top: 70px;
  margin-bottom: 35px;
}

.tab-text {
  line-height: 30px;
  display: block;
  width: 500px;
}

/* Доставка редких товаров */
.special-delivery {
  display: grid;
  grid-template-columns: 125px auto 125px;
  margin-bottom: 100px;
}

.special-delivery::before {
  content: "";
  width: 125px;
  background: #FFE17F url("../img/special-delivery.svg") no-repeat center;
}

.special-delivery-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  background-color: #F0F0F0;
  text-align: center;
  padding: 40px 0;
  grid-column: 2 / 3;
}

.info-container {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-delivery-info {
  background: #DCDCDC url("../img/info.svg") no-repeat center;
  opacity: 0.3;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}

/* Контакты */
.contacts {
  display: flex;
  color: #444444;
  justify-content: space-between;
  margin-bottom: 90px;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-top: 42px;
  position: relative;
}

.contacts-block::before {
  position: absolute;
  content: "";
  top: 0;
  background-color: #000000;
  width: 80px;
  height: 7px;
}

.contacts-content {
  margin-bottom: auto;
}

.contacts-title {
  margin-bottom: 50px;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px;
}

.contacts-text {
  line-height: 30px;
  margin-bottom: 30px;
}

.contacts-address {
  font-style: normal;
}

.phone {
  text-decoration-line: underline;
  color: inherit;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-weight: 700;
  line-height: 20px;
  padding: 0 0 0 20px;
  margin-bottom: 30px;
}

.about-us-bullet {
  margin-bottom: 20px;
  color: #FFC700;
}

.about-us-text {
  color: #000000;
}

.about-us-button {
  align-self: flex-start;
  margin-top: 20px;
  width: 260px;
  position: relative;
}

.about-us-button::before {
  content: "";
  position: absolute;
  background-color: #FFE17F;
  height: 8px;
  bottom: 6px;
  right: 0;
  left: 0;
  z-index: -1;
}

.contacts-button {
  align-self: flex-start;
  margin-top: 70px;
  width: 260px;
  position: relative;
}

.contacts-button::before {
  content: "";
  position: absolute;
  background-color: #FFE17F;
  height: 8px;
  bottom: 6px;
  right: 0;
  left: 0;
  z-index: -1;
}

/* Рассылка */
.mailing {
  background-color: #F0F0F0;
}

.mailing-container {
  padding-top: 75px;
  padding-bottom: 130px;
  display: grid;
  grid-template-columns: 560px 320px 200px;
  gap: 50px 40px;
}

.mailing-text {
  grid-column: 2 / 4;
  line-height: 30px;
}

.mailing-form {
  grid-column: 1 / 3;
  display: flex;
}

.subscription-input {
  box-sizing: border-box;
  width: 600px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
  background: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  margin: 0;
}

.subscription-button {
  background: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 17px 40px;
  cursor: pointer;
}

.free {
  color: #444444;
  justify-self: end;
  align-self: center;
  padding-left: 35px;
  background: url("../img/success.svg") no-repeat left;
}

/* Блок фильтров */
.background-titles {
  background: linear-gradient(to left, #F0F0F0 67.5%, #DCDCDC 0);
}

.background-content {
  background: linear-gradient(to left, #FFFFFF 67.5%, #F0F0F0 0);
}

.inner-container {
  display: flex;
}

.filters-title, .sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.filters-title{
  display: block;
  padding: 5px 20px 0;
  width: 200px;
  margin: 20px 50px 20px 40px;
}

.filters-block {
  padding-left: 20px;
  width: 200px;
  padding-right: 20px;
  margin: 70px 50px 0 40px;
}

.filters-group {
  padding: 0;
  border: none;
  margin-bottom: 50px;
  font-size: 16px;
}

.filters-group-title {
  margin-bottom: 25px;
  line-height: 20px;
  font-weight: 700;
}

.color-item, .bluetooth-item {
  margin-bottom: 20px;
}

.catalog-products {
  width: 760px;
  margin-left: 70px;
}

.sorting-block {
  width: 760px;
  display: flex;
  align-items: center;
  margin: 20px 0 20px 70px;
}

.sorting-title {
  margin-right: 40px;
}

.sorting-form {
  margin-right: auto;
}

.sorting-buttons {
  display: flex;
}

.sorting-type-button {
  width: 11px;
  height: 10px;
  padding: 9px;
  margin-right: 2px;
}

.devices-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 45px;
}

/* Карточка товара */
.device-card {
  display: grid;
  grid-template-columns: 240px 110px;
  grid-template-rows: 380px min-content;
  gap: 35px 10px;
}

.new {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  margin-right: 27px;
  margin-top: 27px;
}

.device-card-link:first-child {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.device-card-title {
  margin: 0;
}

.device-card-link:nth-child(2) {
  display: block;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.device-card-link {
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.device-card-price {
  line-height: 21px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  justify-self: end;
}

.device-card-button {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-self: center;
}

/* Пагинация */
.show-more-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  width: 760px;
  background: none;
  border: solid #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.pagination {
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
  margin-bottom: 77px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.pagination-link {
  color: #444444;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  width: 90px;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: inherit;
  text-align: right;
  width: 90px;
}

/* Подвал сайта */
.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-container {
  display: grid;
  grid-template-columns: 260px auto 260px;
  grid-template-rows: min-content min-content min-content;
  gap: 0 40px;
  width: 1160px;
  margin: 0 auto;
  padding: 60px 30px;
}

.logo-footer {
  margin-bottom: 35px;
}

.contacts-footer-address {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  position: relative;
}

.contacts-footer-address::after {
  position: absolute;
  bottom: 20px;
  content: "";
  background-color: #FFC500;
  width: 80px;
  height: 7px;
}

.contacts-footer-phone {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  justify-self: end;
}

.contacts-footer-text {
  display: block;
  font-style: normal;
  color: inherit;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  margin-bottom: 66px;
}

.navigation-footer-container {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.navigation-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation-footer:first-child {
  margin-bottom: 25px;
}

.footer-link {
  display: block;
  padding: 0 10px 20px 10px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.social-media-item:last-child {
  margin-right: 0;
}

.social-media-item {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  cursor: pointer;
}

.facebook-icon, .instagram-icon, .twitter-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.htmlacademy-link {
  grid-column: -2 / -1;
  grid-row: -2 / -1;
  justify-self: end;
}
