@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

p {
  color: #444444;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */
.button {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2em;
}

.yellow-button {
  position: relative;
  text-align: center;
  z-index: 0;
}

.yellow-button::before {
  content: "";
  position: absolute;
  background-color: #FFE17F;
  height: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.yellow-button:hover:before {
  height: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.yellow-button:focus {
  outline: none;
}

.yellow-button:focus:before {
  background-color: #AF4FFF;
}

.yellow-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.yellow-button:active:before {
  background-color: #FFE17F;
  height: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Заголовки блоков */
.section-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

/* Общий контейнер */
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Списки */
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Шапка сайта */
.page-header {
  background: linear-gradient(to bottom, #FFFFFF 40px, #FFE17F 0);
  width: 1160px;
  margin: 0 auto;
  border-width: 0 30px;
  border-style: solid;
  border-color: #FFFFFF;
}

/* Навигация */
.navigation {
  margin: 0 auto;
  padding: 20px 40px 40px;
}

.navigation-container {
  display: flex;
}

.navigation-container:first-child {
  margin-bottom: 25px;
  padding-left: 20px;
}

.navigation-container:nth-child(2) {
  margin-bottom: 24px;
}

.logo-link {
  height: 36px;
  margin-bottom: 10px;
}

.logo-link:focus {
  transform: translate(-5px, -5px);
  margin-bottom: 0;
  padding: 3px;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  outline: none;
}

.search-form {
  position: relative;
  width: 500px;
  display: flex;
  margin-left: 4px;
}

.search-icon {
  position: absolute;
  top: 0;
  left: 16px;
  bottom: 0;
  margin: auto;
}

.search {
  width: 500px;
  height: 40px;
  box-sizing: border-box;
  padding-left: 52px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background: none;
  opacity: 0.3;
  flex-grow: 1;
  position: relative;
}

.search[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search:hover {
  opacity: 0.6;
}

.search:focus {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  outline: none;
}

.search:active {
  opacity: 1;
  border: 2px solid #000000;
  border-radius: 20px;
}

.search-button {
  position: absolute;
  height: 40px;
  right: 0;
  top: 0;
  margin: auto;
  box-sizing: border-box;
  width: 160px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 0 20px 20px 0;
}

.search-button:focus {
  border: 2px solid #AF4FFF;
  border-radius: 0 20px 20px 0;
  outline: none;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 0 20px 20px 0;
  border: none;
}

.navigation-user, .navigation-services {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  margin-left: auto;
}

.navigation-user-item:first-child {
  margin-right: auto;
  display: flex;
}

.navigation-user-link {
  display: block;
  padding: 11px 15px;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:focus {
  opacity: 1;
  padding: 9px 13px;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
  outline: none;
}

.navigation-user-link:active {
  opacity: 0.3;
  padding: 11px 15px;
  border: none;
}

.login {
  margin-left: 5px;
  padding-left: 25px;
  background: url("../img/person.svg") no-repeat left;
}

.compare {
  padding-left: 20px;
  background: url("../img/compare.svg") no-repeat left;
}

.basket {
  padding-left: 40px;
  background: url("../img/basket.svg") no-repeat 15px;
  position: relative;
}

.basket::before {
  content: "2";
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
}

.user-name {
  margin-right: 30px;
}

.catalog-button {
  position: relative;
  padding: 0 54px 0 0;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.catalog-button:focus {
  outline: none;
}

.catalog-button:focus > .navigation-catalog-link {
  color: rgba(0, 0, 0, 0.3);
  padding: 10px 18px;
  margin: 3px 0;
  border: 2px solid #AF4FFF;
  border-radius: 20px;
}

.catalog-button:active > .navigation-catalog-link {
  border: none;
  margin: 0;
  padding: 15px 20px;
}

.catalog-button::after {
  content: "";
  background: url("../img/plus.svg") no-repeat center;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.catalog-button:hover:after {
  background: url("../img/minus.svg") no-repeat center;
  opacity: 1;
}

.catalog-button:active:after {
  background: url("../img/minus.svg") no-repeat center;
  opacity: 0.3;
}

.navigation-item:nth-child(3n) {
  margin-left: auto;
}

.navigation-link, .navigation-catalog-link {
  display: block;
  padding: 15px 20px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.2em;
}

.navigation-link::after {
  content: "";
  left: 20px;
  right: 20px;
  background-color: #000000;
  position: absolute;
  bottom: 5px;
}

.navigation-link:hover:after {
  height: 2px;
}

.navigation-link:focus {
  border: 2px solid #AF4FFF;
  border-radius: 25px;
  padding: 13px 18px;
  outline: none;
}

.navigation-link:active {
  opacity: 0.3;
  border: none;
  padding: 15px 20px;
}

.navigation-link:active:after {
  height: 2px;
}

/* Хлебные крошки */
.inner-header {
  margin-top: 35px;
  margin-bottom: 55px;
}

.catalog-title {
  margin-bottom: 25px;
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;
  margin-left: 60px;
  transform: translate(-5px);
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 5px;
  margin-right: 24px;
}

.breadcrumbs-icon {
  display: block;
  fill: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: 5px solid #AF4FFF;
  margin-right: 29px;
  margin-left: 5px;
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  margin-right: 24px;
  margin-left: 0;
}

/* Слайдер */
.device-examples {
  margin-bottom: 50px;
  position: relative;
}

.device-navigation-arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  width: 560px;
  justify-content: space-between;
  z-index: 2;
  margin-bottom: 70px;
}

.slider-prev, .slider-next {
  background: url("../img/arrows/tall-arrow.svg") no-repeat center;
  width: 40px;
  height: 80px;
  border: none;
  margin: auto 8px auto;
  cursor: pointer;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-prev:hover, .slider-next:hover {
  opacity: 0.6;
}

.slider-prev:focus, .slider-next:focus {
  border: 2px solid #AF4FFF;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

.slider-prev:active, .slider-next:active {
  opacity: 0.3;
  border: none;
}

.device-navigation-radio {
  position: absolute;
  bottom: 150px;
  right: 60px;
  margin-right: 30px;
  display: flex;
  z-index: 2;
  margin-bottom: 70px;
}

.device-button, .device-button-current {
  background: none;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin: 9px;
  padding: 0;
  cursor: pointer;
}

.device-button-current {
  background-color: #000000;
}

.device-button-current:focus {
  outline: none;
}

.device-button:hover {
  opacity: 0.6;
}

.device-button:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.device-button:active {
  opacity: 0.3;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #FFE17F 110px, #FFFFFF 0);
}

.slider-container {
  width: 560px;
}

.slider-container:first-child {
  transform: translateY(-40px);
}

.slider-text {
  transform: translateY(10px);
}

.device-number {
  font-weight: 800;
  color: #FFFFFF;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  margin-top: 40px;
  padding-right: 50px;
}

.device-motto {
  margin-bottom: 30px;
}

.device-description {
  line-height: 30px;
  margin-bottom: 35px;
}

.device-table {
  margin-top: 55px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
}

.device-table-key {
  color: #444444;
  font-size: 16px;
  grid-row: 2 / 3;
}

.device-table-value {
  font-size: 36px;
  grid-row: 1 / 2;
  margin: 0;
  padding-bottom: 14px;
}

.device-details {
  width: 190px;
  padding: 15px 15px;
}

/* Меню каталога с иконками */
.catalog {
  margin-bottom: 70px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 40px;
}

.catalog-link {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  display: block;
  width: 160px;
  letter-spacing: -0.02em;
}

.catalog-icon-container {
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #FFE17F;
  display: flex;
}

.catalog-icon {
  fill: #363636;
  margin: auto;
}

.monopod-icon {
  margin-bottom: 0;
}

.catalog-link:hover .catalog-icon-container {
  background-color: #FFC700;
}

.catalog-link:focus {
  outline: none;
  color: #AF4FFF;
}

.catalog-link:focus .catalog-icon-container {
  outline: 5px solid #AF4FFF;
}

.catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-link:active .catalog-icon-container {
  background-color: #FFC700;
  outline: none;
}

.catalog-link:active .catalog-icon-container svg {
  fill: rgba(54, 54, 54, 0.3);
}

/* Услуги */
.services {
  background: linear-gradient(to bottom, #FFFFFF 100px, #F0F0F0 0);
  margin-bottom: 90px;
}

.tabs-container {
  display: flex;
}

.navigation-tabs:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  margin-right: 120px;
  margin-bottom: 70px;
  position: relative;
}

.navigation-tabs:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 280px;
  width: 0;
  border-right: 7px solid #000000;
}

.navigation-tabs-link,
.navigation-tabs-link-current {
  padding: 15px 15px;
  width: 130px;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  z-index: 0;
}

.navigation-tabs-link::before,
.navigation-tabs-link-current::before {
  content: "";
  position: absolute;
  background-color: #FFC700;
  height: 8px;
  top: 22px;
  right: 0;
  left: 0;
  z-index: -1;
}

.navigation-tabs-link:hover:before {
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.navigation-tabs-link:focus,
.navigation-tabs-link-current:focus {
  outline: none;
}

.navigation-tabs-link:focus:before {
  background-color: #AF4FFF;
}

.navigation-tabs-link:active,
.navigation-tabs-link-current {
  color: #FFE17F;
}

.navigation-tabs-link:active:before,
.navigation-tabs-link-current::before {
  background-color: #000000;
  height: 40px;
  width: 280px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.tabs-item {
  margin-bottom: 145px;
  width: 710px;
  min-height: 200px;
}

.tab-delivery {
  background: url("../img/services/delivery.svg") no-repeat right;
}

.tab-guarantee {
  background: url("../img/services/guarantee.svg") no-repeat right;
}

.tab-credit {
  background: url("../img/services/credit.svg") no-repeat right;
}

.tab-title {
  display: block;
  width: 600px;
  margin-top: 70px;
  margin-bottom: 35px;
}

.tab-text {
  line-height: 30px;
  display: block;
  width: 500px;
}

/* Доставка редких товаров */
.special-delivery-link {
  display: grid;
  grid-template-columns: 125px auto 125px;
  margin-bottom: 100px;
  color: inherit;
  text-decoration: none;
  padding: 0;
}

.special-delivery-container {
  width: 125px;
  height: 100%;
  background: #FFE17F;
  display: flex;
}

.special-delivery-icon {
  fill: #000000;
  display: block;
  margin: auto;
}

.special-delivery-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  display: block;
  background-color: #F0F0F0;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 40px 0;
  grid-column: 2 / 3;
}

.info-container {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-delivery-info {
  background: #DCDCDC url("../img/info.svg") no-repeat center;
  opacity: 0.3;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.special-delivery-link:hover .special-delivery-container,
.special-delivery-link:active .special-delivery-container {
  background-color: #FFC700;
}

.special-delivery-link:hover .special-delivery-info {
  opacity: 1;
}

.special-delivery-link:focus {
  outline: 5px solid #AF4FFF;
}

.special-delivery-link:active {
  outline: none;
}

.special-delivery-link:active .special-delivery-text {
  color: rgba(0, 0, 0, 0.3);
}

.special-delivery-link:active .special-delivery-container svg {
  opacity: 0.3;
}

/* Контакты */
.contacts {
  display: flex;
  color: #444444;
  justify-content: space-between;
  margin-bottom: 90px;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-top: 42px;
  position: relative;
}

.contacts-block::before {
  position: absolute;
  content: "";
  top: 0;
  background-color: #000000;
  width: 80px;
  height: 7px;
}

.contacts-content {
  margin-bottom: auto;
}

.contacts-title {
  margin-bottom: 50px;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px;
}

.contacts-text {
  line-height: 30px;
  margin-bottom: 30px;
}

.contacts-address {
  font-style: normal;
}

.phone {
  text-decoration-line: underline;
  color: inherit;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-weight: 700;
  line-height: 20px;
  padding: 0 0 0 20px;
  margin-bottom: 30px;
}

.about-us-bullet {
  margin-bottom: 20px;
  color: #FFC700;
}

.about-us-text {
  color: #000000;
}

.about-us-button {
  align-self: flex-start;
  margin-top: 20px;
  width: 260px;
  position: relative;
}

.contacts-button {
  align-self: flex-start;
  margin-top: 70px;
  width: 260px;
  position: relative;
}

/* Рассылка */
.mailing {
  background-color: #F0F0F0;
}

.mailing-container {
  padding-top: 75px;
  padding-bottom: 130px;
  display: grid;
  grid-template-columns: 560px 320px 200px;
  gap: 50px 40px;
}

.mailing-text {
  grid-column: 2 / 4;
  line-height: 30px;
}

.mailing-form {
  grid-column: 1 / 3;
  display: flex;
}

.subscription-input {
  box-sizing: border-box;
  width: 600px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
  background: none;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  margin: 0;
}

.subscription-input:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscription-input:focus {
  border-bottom: 3px solid #DCDCDC;
  background: #DCDCDC;
  outline: none;
}

.subscription-input:active {
  border-bottom: 3px solid #000000;
}

.subscription-button {
  background: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 17px 40px;
  cursor: pointer;
}

.subscription-button:hover {
  border: 3px solid #000000;
  background-color: #000000;
}

.subscription-button:hover .subscribe {
  color: #FFFFFF;
}

.subscription-button:focus {
  outline: none;
  border: 3px solid #AF4FFF;
}

.subscription-button:active {
  border: 3px solid #000000;
  background-color: #000000;
}

.subscription-button:active .subscribe {
  color: rgba(255, 255, 255, 0.3);
}

.free {
  color: #444444;
  justify-self: end;
  align-self: center;
  padding-left: 35px;
  background: url("../img/success.svg") no-repeat left;
}

/* Блок фильтров */
.background-titles {
  background: linear-gradient(to left, #F0F0F0 67.5%, #DCDCDC 0);
}

.background-content {
  background: linear-gradient(to left, #FFFFFF 67.5%, #F0F0F0 0);
}

.inner-container {
  display: flex;
}

.filters-title, .sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.filters-title {
  display: block;
  padding: 0 20px;
  width: 200px;
  align-self: center;
  margin: 15px 50px 15px 40px;
  letter-spacing: 0.2em;
}

.filters-block {
  padding-left: 20px;
  width: 200px;
  padding-right: 20px;
  margin: 70px 50px 0 40px;
}

.filters-group {
  padding: 0;
  border: none;
  margin: 0 0 50px;
  font-size: 16px;
}

.filters-group-title {
  margin-bottom: 25px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}

.filters-group-title::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: -15px;
}

.color-item, .bluetooth-item {
  margin-bottom: 20px;
}

.filters-button {
  position: relative;
  width: 200px;
  text-align: center;
  z-index: 1;
}

.filters-button::before {
  content: "";
  position: absolute;
  background-color: #FFC700;
  width: 200px;
  height: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.filters-button:focus:before {
  background-color: #AF4FFF;
  height: 8px;
}

.filters-button:active:before {
  background-color: #FFC700;
}

/* Сортировка */
.catalog-products {
  width: 760px;
  margin-left: 70px;
}

.sorting-block {
  width: 760px;
  display: flex;
  align-items: center;
  margin: 15px 0 15px 70px;
}

.sorting-title {
  margin-right: 35px;
  align-self: center;
  letter-spacing: 0.2em;
}

.sorting-form {
  margin-right: auto;
  display: flex;
}

.select-control {
  display: block;
  box-sizing: border-box;
  background: url("../img/arrows/dropdown.svg") no-repeat top 50% right 15px;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding: 5px 40px 5px 15px;
  margin: 0;
  appearance: none;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  opacity: 1;
  outline: 5px solid #AF4FFF;
}

.select-control:active {
  opacity: 0.3;
  outline: none;
}

.sorting-buttons {
  display: flex;
}

.sorting-type-button {
  width: 11px;
  height: 10px;
  padding: 7px;
  background: url("../img/arrows/triangle.svg") no-repeat center;
  opacity: 0.2;
}

.sorting-type-button:last-child {
  transform: rotate(180deg);
  margin-left: 5px;
}

.sorting-type-button:hover {
  opacity: 0.5;
}

.sorting-type-button:focus {
  opacity: 1;
  outline: 5px solid #AF4FFF;
}

.sorting-type-button:active {
  opacity: 1;
  outline: none;
}

/* Список товаров */
.devices-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 45px;
}

/* Карточка товара */
.device-card {
  position: relative;
}

.device-card-link {
  display: grid;
  grid-template-columns: 240px 110px;
  grid-template-rows: 380px min-content;
  gap: 35px 10px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.device-card-title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
}

.new {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  margin-right: 27px;
  margin-top: 27px;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background: url("../img/new.svg") no-repeat center;
}

.device-card-price {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  justify-self: end;
  line-height: 21px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.device-card-image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: block;
}

/* Кнопка "Подробнее" на карточке товара */
.grey-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.8);
  width: 360px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.device-card-button {
  position: relative;
  padding: 10px 20px;
}

.device-card-button::before {
  content: "";
  position: absolute;
  background-color: #FFC700;
  height: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.device-card-link:hover + .grey-layer,
.grey-layer:hover {
  z-index: 2;
}

.device-card-button:hover:before,
.filters-button:hover:before {
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.device-card-button:focus,
.filters-button:focus {
  outline: none;
}

.device-card-link:focus,
.device-card-link:focus .device-card-price {
  outline: none;
  color: #AF4FFF;
}

.device-card-link:focus .device-card-image {
  border: 5px solid #AF4FFF;
  box-sizing: border-box;
}

.device-card-button:active,
.filters-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Кнопка "Показать еще" */
.show-more-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  width: 760px;
  background: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin-bottom: 50px;
  box-sizing: border-box;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.show-more-button:hover {
  border-color: #000000;
}

.show-more-button:focus {
  border: 5px solid #AF4FFF;
  padding: 18px 0;
  outline: none;
}

.show-more-button:active {
  border: 3px solid #000000;
  padding: 20px 0;
  opacity: 0.3;
}

/* Пагинация */
.pagination {
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 77px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.pagination-link {
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  padding: 7px 0;
  display: block;
  width: 33px;
  text-align: center;
}

.pagination-link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:focus {
  color: rgba(68, 68, 68, 1);
  outline: 5px solid #AF4FFF;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
  outline: none;
}

.pagination-prev, .pagination-next {
  padding: 25px 30px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: inherit;
}

.pagination-next {
  text-align: right;
}

.pagination-prev:hover, .pagination-next:hover {
  background-color: #DCDCDC;
}

.pagination-prev:focus, .pagination-next:focus {
  background-color: #EBEBEB;
  border: 5px solid #AF4FFF;
  padding: 20px 25px;
  outline: none;
}

.pagination-prev:active, .pagination-next:active {
  background-color: #DCDCDC;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  padding: 25px 30px;
}

/* Подвал сайта */
.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-container {
  display: grid;
  grid-template-columns: 260px auto 260px;
  grid-template-rows: min-content min-content min-content;
  gap: 0 40px;
  width: 1160px;
  margin: 0 auto;
  padding: 60px 30px;
}

.logo-footer {
  margin-bottom: 35px;
}

.contacts-footer-address {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  position: relative;
}

.contacts-footer-address::after {
  position: absolute;
  bottom: 0;
  content: "";
  background-color: #FFC500;
  width: 80px;
  height: 7px;
}

.footer-phone {
  padding: 5px 0;
}

.contacts-footer-phone {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  justify-self: end;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:focus {
  outline: none;
  border: 2px solid #AF4FFF;
  border-radius: 25px;
  padding: 3px 13px;
  transform: translate(15px);
}

.footer-phone:active {
  transform: none;
  opacity: 0.3;
  padding: 5px 0;
  border: none;
}

.contacts-footer-text {
  display: block;
  font-style: normal;
  color: inherit;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 40px;
}

.navigation-footer-container {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.navigation-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation-footer:first-child {
  margin-bottom: 40px;
}

.footer-link {
  display: block;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
}

.footer-link::after {
  content: "";
  left: 15px;
  right: 15px;
  background-color: #FFC700;
  position: absolute;
  bottom: 7px;
}

.footer-link:hover {
  color: #FFC700;
}

.footer-link:hover:after {
  height: 2px;
}

.footer-link:focus {
  border: 2px solid #AF4FFF;
  border-radius: 25px;
  padding: 13px;
  outline: none;
}

.footer-link:active {
  opacity: 0.3;
  border: none;
  padding: 15px;
}

.footer-link:active:after {
  height: 2px;
}

/* Социальные сети */
.social-media-item {
  margin-right: 5px;
}

.social-media-item:last-child {
  margin-right: 0;
}

.social-media-link {
  margin: 5px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  cursor: pointer;
}

.social-media-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #444444;
}

.social-media-link:hover {
  background-color: #FFC700;
}

.social-media-link:focus {
  background: none;
  outline: none;
  border: 5px solid #AF4FFF;
  margin: 0;
}

.social-media-link:focus .social-media-icon {
  fill: #FFFFFF;
}

.social-media-link:active {
  background-color: #FFC700;
  margin: 5px;
  border: none;
}

.social-media-link:active .social-media-icon {
  opacity: 0.3;
}

.htmlacademy-link {
  grid-column: -2 / -1;
  grid-row: -2 / -1;
  justify-self: end;
}

.htmlacademy-icon {
  fill: #FFC700;
  padding: 12px 0;
}

.htmlacademy-link:hover .htmlacademy-icon {
  fill: #FFFFFF;
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:focus .htmlacademy-icon {
  fill: #FFFFFF;
  padding: 10px;
  border: 2px solid #AF4FFF;
  border-radius: 10px;
  transform: translate(12px);
}

.htmlacademy-link:active .htmlacademy-icon {
  fill: #FFFFFF;
  opacity: 0.3;
  padding: 12px 0;
  border: none;
  transform: none;
}
